.Channel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Header {
    height: 48px;
    background-color: #36393f;
    color: white;
    display: flex;
    border-bottom: 1px solid #202225;
    align-items: center;
    padding: 1.5px;
}

.Header h5 {
    margin: 0;
    margin-right: 8px;
}

.Header > svg {
    margin: 10px;
    color: var(--greyple);
}

.Topic {
    flex: 1 1 auto;
    min-width: 0;
    margin: 0 0 0 8px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    color: #b9bbbe;
}

.Body {
    display: flex;
    height: calc(100% - 47px);
}

.Spacer {
    flex: 1;
}

.Divider {
    width: 1px;
    height: 24px;
    margin: 0 8px;
    flex: 0 0 auto;
    background: hsla(0, 0%, 100%, 0.06);
}
