.ChannelNavbar {
    height: 100%;
    background: var(--dark-but-not-black);
}

.Header {
    height: 47px;
    background-color: #2f3136;
    color: white;
    display: flex;
    border-bottom: 1px solid #202225;
}

.Header h4 {
    margin: 7%;
}

.Categories {
    height: calc(100% - 48px);
    overflow-y: scroll;
    margin-right: 3px;
}

/* width */
.Categories::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.Categories::-webkit-scrollbar-track:hover {
    background: #2f3136;
}

/* Handle on hover */
.Categories::-webkit-scrollbar-thumb:hover {
    background: #202225;
    border-radius: 8px;
}
