.ChannelNavbar {
    height: 100%;
    background: var(--dark-but-not-black);
}

.Header {
    height: 8%;
    background-color: #2f3136;
    color: white;
    display: flex;
    border-bottom: 1px solid #202225;
}

.Header h4 {
    margin: 7%;
}
