.ChannelCategory {
    padding: 0.5rem;
    background-color: var(--dark-but-not-black);
    width: 165px;
    cursor: pointer;
    margin: 10px auto;
}

.ChannelCategory div {
    color: var(--greyple);
    display: flex;
}

.ChannelCategory * {
    margin: 2px;
}

.Header {
    font-size: 12px;
    position: relative;
    left: -5px;
}

.Header svg {
    width: 12px;
    height: 12px;
}

.Header:hover {
    color: var(--white);
}
