.ChannelButton {
    color: var(--greyple);
    background-color: var(--dark-but-not-black);
    padding: 0.2rem;
    width: 150px;
    display: flex;
    margin: auto 5px;
}

.ChannelButton p {
    margin: auto 0;
}

.ChannelButton:hover {
    color: var(--white);
    background-color: var(--dark-but-not-black-2);
}
