.App {
    display: flex;
    width: 70%;
    height: 70vh;
    margin: 10% auto;
    border: 1px solid var(--dark-but-not-black);
    box-shadow: 10px 10px 10px var(--dark-but-not-black-2);
}
