:root {
    --white: #ffffff;
    --blurple: #7289da;
    --greyple: #99aab5;
    --dark-but-not-black: #2c2f33;
    --dark-but-not-black-2: #34373c;
    --not-quite-black: #23272a;
    --black: #000000;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
