:root {
    --white: #ffffff;
    --blurple: #7289da;
    --greyple: #99aab5;
    --dark-but-not-black: #2c2f33;
    --dark-but-not-black-2: #34373c;
    --not-quite-black: #23272a;
    --black: #000000;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    background-color: #292b2f;
}

/* Width */
::-webkit-scrollbar {
    width: 1px;
}

.hljs {
    background: #2f3136;
    border: 1px solid #202225;
    border-radius: 4px;
}

.d-mention {
    color: #7289da;
    background: rgba(114, 137, 218, 0.1);
    font-weight: 400;
}

.bot-tag {
    background: #7289da;
    font-size: 10px;
    font-weight: 600;
    color: #fff !important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.compact .bot-tag {
    margin: 0 3px 0 0;
}
