.Message {
    height: inherit;
    width: 99%;
    display: flex;
    margin: 5px 0;
}

.Icon {
    margin-left: 2%;
}

.Message:hover {
    background-color: #32353b;
}

.Info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Message h4 {
    margin: 0;
}

.Message p {
    margin: 0;
    color: #fff;
}

.ContentWrapper {
    color: #dcddde;
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: break-spaces;
    font-weight: 400;
}

.ContentWrapper a {
    color: #00b0f4;
    text-decoration: none;
}
